<div class="main">
  <div class="col-md-6 shadow p-2 mx-auto">
    <form action="" (ngSubmit)="register()">
      <p class="display-4">Register Form</p>
      <hr />
      <div class="form-group mt-3">
        <label for="">First Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.firstName"
          name="firstName"
        />
      </div>
      <div class="form-group mt-3">
        <label for="">Last Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.lastName"
          name="lastName"
        />
      </div>
      <div class="form-group mt-3">
        <label for="">Email</label>
        <input
          type="email"
          class="form-control"
          [(ngModel)]="user.email"
          name="email"
        />
      </div>
      <div class="form-group mt-3">
        <label for="">Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="user.password"
          name="password"
        />
      </div>
      <div class="form-group mt-3">
        <label for="">Mobile</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="user.mobile"
          name="mobile"
        />
      </div>
      <app-address-input (onSelect)="onSelectAddress($event)"></app-address-input>
      
      <!-- submit button -->
      <div class="form-group mt-3">
        <input type="submit" class="btn btn-success" value="register" />
      </div>
    </form>
  </div>
</div>
