<!-- Address input feild -->
      <div class="form-group mt-3">
        <label for="">Address</label>
        <input
          type="text"
          class="form-control"
          #addr
          (keyup)="onAddressType()"
          name="address"
          [(ngModel)]="selectedAddress.formattedAddress"
        />
        <!-- <input
          type="text"
          class="form-control"
          #addr
          (keyup)="onAddressType(addr.value)"
          name="address"
          [(ngModel)]="selectedAddress.formattedAddress"
        /> -->
      </div>
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          (click)="_onSelectAddress(address)"
          *ngFor="let address of addresses"
          >{{ address.formattedAddress }}</a
        >
      </div>